[2020-06-19 05:52] ekluzek opened #1 "Failure in build of mpi-serial case"
I'm getting a fail in the build of a simple mpi-serial case as follows...

qcmd -- ./create_test SMS_D_Vnuopc_Mmpi-serial_P1x1.5x5_amazon.I2000Clm50SpRsGs.cheyenne_intel.clm-default -r . --walltime 00:20:00 --queue premium

The build fails building the datm as follows...

It looks like there are some tricky softlinks being setup that don't work for above.
(Note I also get the same issue without an

[2020-06-19 15:44] mvertens commented on #1
Please do not use mpi serial for now. Just try this case with _P1. We are
aware of this problem.

On Thu, Jun 18, 2020 at 11:52 PM Erik Kluzek <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-06-19 15:50] mvertens commented on #1
@ekluzek - Please ignore the previous statement. I think the problem is that  Fates doesn't work with mpi-serial and pio2. @jedwards4b can chime in with more details.

[2020-06-19 15:54] ekluzek commented on #1
It's failing in the build of datm -- the build of CTSM worked fine. This is also with a very recent cime master which should set PIO_VERSION to 1 rather than 2 (from Bill Sacks commit from yesterday).

[2020-06-19 16:00] mvertens commented on #1
@ekluzek - you are right. I am assigning this to @jedwards4b. Thanks for pointing this out.

[2020-06-19 16:10] mvertens commented on #1
Back to my first comment - please do not use cdeps with mpiserial yet.

[2020-06-19 16:36] ekluzek commented on #1
OK, it'll be helpful for me to know when it is working, as there are a lot of single point mpi-serial tests that we have in place for CTSM. In the meantime I can use a single MPI task for those tests. So I'll watch this issue so I'll know when it's fixed.

[2020-06-24 22:20] ekluzek opened #3 "Simple python3 issue"
There is a print "string" that needs to change to a print( "string" ) in a buildlib file for compatibility with both python2 and python3.

cime_config/buildlib

Here's the fix that also shows the problem...

[code]

[2020-07-11 16:04] mvertens opened #5 "incorrect mask sent by DLND for SCPL mode"
The latest PR has removed the correct mask in the GLC fields sent by DLND. Now the mask over land seems to be set to zero in the coupler history files.

[2020-07-28 20:42] jedwards4b commented on #1
Fixed

[2020-07-28 20:42] #1 closed

[2020-07-29 15:27] uturuncoglu opened #8 "need to correct ERA5 shortwave in bands"
Need to understand relationship between shortwave bands and net shortwave rad. Currently it is provided directly from ERA5 and the total of the bands are not consistent with the swnet. There is an active C3S/CAMS Data Support ticket at ECMWF (CUS-14300).

[2020-08-03 22:32] uturuncoglu opened #9 "prevent silent return from dshr_state_getfldptr"
Current implementation of dshr_state_getfldptr in streams/dshr_methods_mod.F90 just returns if the field is not in the state. This silent return is an issue and creates crashes in the apps if it is not used correctly. It is better to add an extra argument to the call to set explicitly just return.

[2020-08-04 20:51] #9 closed

[2020-08-10 22:21] mvertens opened #17 "test anomaly forcing and bias correction modes in datm"

[2020-08-11 15:35] #3 closed

[2020-08-11 15:35] jedwards4b commented on #3
Fixed

[2020-08-12 19:44] ekluzek opened #20 "Is it possible to NOT read in a mesh file vertices -- but only a mapping file?"
For mizuRoute the mesh files are very large 5.7 GBytes, so it takes a long time to read them in. We still need to read in the center coordinates for history output. But, if a mapping file is already produced you don't really need to read in the mesh vertices. So would it be possible to setup NUOPC to have an option to only read the vertices only if the mapping file isn't input?

This is how mizuRo

[2020-08-12 21:46] mvertens commented on #20
Why are we reading in mapping files? I am totally confused. Do you mean mesh files?

[2020-08-12 22:00] ekluzek commented on #20
It might be best if we met to talk about this.

But, here is what we want to do. We already know that just reading in the HDMA mesh file is problematic. It takes a long time, and takes a lot of memory. Now, reading in the entire mesh file is required if you don't provide a mapping file to do the remapping that has to be done, as it needs it to compute the mapping weights. But, if you are going to

[2020-08-12 22:09] ekluzek commented on #20
There's this call in initializeRealize where it reads in the mesh...

`    EMesh = ESMF_MeshCreate(filename=trim(cvalue), fileformat=ESMF_FILEFORMAT_ESMFMESH, elementDistgrid=Distgrid, rc=rc)`

I want to add an optional argument to it that tells it to NOT read in the vertices since they aren't needed if I'm going to be reading in mapping files.

Possibly instead of reading in a mesh it reads in a

[2020-08-13 04:03] mvertens commented on #20
@ekluzek - there is no need to read in mapping files for rof->lnd and lnd-rof. So I do not think that statement is not correct. The only mapping files that need to be read in are rof->ocn. So the premise that you will always have a lnd->rof and rof->lnd mapping file created is not valid. My hope is to have the only mapping files read in be the custom ones - and lnd->rof and rof->lnd do not fall in

[2020-08-14 17:06] ekluzek commented on #20
OK, @mvertens had a short chat about this and are on the same page now.

But, I then realize that this issue should be in CMEPS -- rather than CDEPS. So I'll see if I can move it over. I probably need to start a new issue there.

[2020-08-14 20:00] ekluzek commented on #20
Closing this as I moved it over to CMEPS where it should have been...

[2020-08-14 20:00] #20 closed

[2020-08-24 04:05] uturuncoglu opened #22 "defining stream vector variables more than one pair is not working"
Defining both wind and stress components in namelist_definition_datm.xml is not working. I have tested both

[code]

and

[code]

syntaxes and the stress components do not appear in the **datm.streams.xml** file and shown as `<stream_vectors>u:v</stream_vectors>`

[2020-08-24 22:31] jedwards4b commented on #22
The datm.streams.xml file now has both pairs in it, however there is no provision in cdeps to rotate more than one vector pair in a stream.  @mvertens

[2020-08-24 22:35] mvertens commented on #22
Thanks @jedwards4b for tracking this down. Can you add this new functionality? @uturuncoglu - I take it this functionality is a high priority for you? Is that correct?

[2020-08-25 02:19] uturuncoglu commented on #22
@mvertens let me check. Maybe it is not required to be high priority. While ERA5 data seems regular lat-lon grid (I need to check again), it might not be needed to rotate to earth relative coordinates. Also, I think that rotating to HYCOM grid is done internally by HYCOM.

[2020-08-25 03:08] mvertens commented on #22
@uturuncoglu - thanks for checking. If this could be made a lower priority that would be really great!

[2020-08-25 15:08] uturuncoglu commented on #22
Sure. I'll check it. Is this definition only related with the rotation or also interpolation such as patch?

[2020-08-25 15:10] mvertens commented on #22
This is only related with the rotation.

On Tue, Aug 25, 2020 at 9:09 AM Ufuk Turunçoğlu <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-08-26 22:57] alperaltuntas opened #24 "JRA RYF needs to be added in CDEPS"
We are in the process of added JRA Repeat Year Forcing to CIME data models. This new capability will need to be added to CDEPS as well.

see CIME PR: https://github.com/ESMCI/cime/pull/3691

[2020-09-01 19:02] billsacks opened #25 "Make a data glc model"
Around the time when we switch to using NUOPC as our standard way of operating in CESM – and at least before scientific testing begins in earnest for CESM3 – we want to have a data glc model. In addition to being useful in its own right, this will serve as a replacement for the current use of `CISM2%NOEVOLVE` – i.e., providing a static snapshot of glacier areas and elevations as well as providing

[2020-09-01 19:10] billsacks commented on #25
Blocks https://github.com/ESCOMP/CTSM/issues/1136

[2020-09-07 04:40] uturuncoglu opened #26 "Adding capability to use temporally subsetted stream files"
The temporally subsetted stream files need to be handled by the CDEPS for especially high resolution input datasets such as ERA5. To test the capability in the current version of the CDEPS, I tested two different scenarios. To do that, i modified datm.streams.xml to include the only subsetted files,

   <stream_data_files>
      <file>/glade/p/cesmdata/cseg/ufs_inputdata/atm/datm7/ERA5/ERA5.TL639.

[2020-09-23 17:23] uturuncoglu commented on #26
@mvertens @jedwards4b @rsdunlapiv  i was thinking about the issue recently and I think there are couple of solutions to make it work. Here are my suggestions;

1 - While it is hard to manage all different calendars and time units to convert time indexes in the netCDF file to their date representation. The zero order approach could be creating a text file along with the data file to store date info

[2020-11-18 19:32] ekluzek opened #30 "Change DATM_ settings with CLM in the name to coordinate with cime"
If CLM is removed from DATM_ settings in cime we'll need to coordinate that change in CDEPS. There are a bunch of instances of these in datm config_component.xml and namelist_definition, as well as in the documentation. There's a print statement in datm buildnml that likely should change as well.

https://github.com/ESMCI/cime/issues/3780

[2020-11-18 20:47] jedwards4b opened #31 "No provision for CESM SourceMods"
The cdeps build does not currently look for or build files from the cesm SourceMods directory.

[2020-12-07 22:19] kshedstrom opened #34 "Failure to build with gnu compiler"
I actually have two issues with the cdeps build:

1. If my first attempt errors out, subsequent attempts fail with a timeout:
[code]
This happens even after case.build --clean.

2. Something is going wrong when building with the gnu compiler, both on cheyenne and on my home computer. On cheyenne:
[code]
and on chinook:
[code]
I'm not sure how to proceed.

[2020-12-07 23:28] jedwards4b commented on #34
Can you please provide information to reproduce the problem or at least the compiler flags used in the build.
My build on cheyenne with gnu compilers works fine.
For gnu the flags -std=gnu99 and -ffree-line-length-none -ffixed-line-length-none are required.

[2020-12-07 23:34] kshedstrom commented on #34
My case directory on cheyenne is /glade/u/home/kate/CESM/cime/scripts/Bering_JRA_gnu. Where are the compile flags set in those xml files?

[2020-12-08 00:46] jedwards4b commented on #34
I checked, they are set correctly.  I'm not sure what the problem is @ufuk can you reproduce this?

[2020-12-08 04:56] uturuncoglu commented on #34
@jedwards4b I am not using the latest version of CDEPS in HAFS application. It is hard for me to keep track the recent developments in CDEPS and CMEPS side. @kshedstrom I could reach your case directory and clone exactly same version of CDEPS and test it under HAFS. I could compile it without any problem except gptl error (`undefined reference to `gptlprint_memusage_'`) that I fixed in my branch.

[2020-12-08 04:56] uturuncoglu commented on #34
BTW, HAFS app uses intel compiler rather than GNU.

[2020-12-08 18:15] kshedstrom commented on #34
The whole point of this exercise was to compile it with the gnu compilers. Yes, it works using intel on cheyenne, but there's something funky with intel on chinook and I need to use gnu there.

Thanks for telling me the standalone build command. Should this go into a cdeps README?

[2020-12-08 18:24] mvertens commented on #34
Yes - this should go into a cdeps readme. We are a bit behind on
documentation right now. Are you able to build with gnu yet on cheyenne -
or are you still encountering the same issue.

On Tue, Dec 8, 2020 at 11:15 AM Kate Hedstrom <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497

[2020-12-08 18:33] jedwards4b commented on #34
I see a problem in your case directory on cheyenne - you are requesting the gnu compiler,
but trying to use the intel build of esmf - that should be gnu as well.

[2020-12-08 18:48] jedwards4b commented on #34
<command name="use">/glade/p/cesmdata/cseg/PROGS/modulefiles/esmfpkgs/gnu/9.1.0/</command>

[2020-12-08 18:49] kshedstrom commented on #34
It's still not building with case.build:
[code]

[2020-12-08 18:51] jedwards4b commented on #34
Did you start from a clean build after switching to the gnu esmf build?

[2020-12-08 18:54] uturuncoglu commented on #34
which version of ESMF is this? Maybe it would be nice to test with different versions under /glade/p/cesmdata/cseg/PROGS/modulefiles/esmfpkgs/gnu/9.1.0/ directory. Could you try with esmf-8.1.0b24?

[2020-12-08 18:54] kshedstrom commented on #34
I did, but now I'm wondering if case.build --clean cleans cdeps.

[2020-12-08 18:55] uturuncoglu commented on #34
I know there we some recent work in ESMf side related with ESMF Info object. I am not sure it is related with it or not but it could worth to try different versions.

[2020-12-08 18:58] kshedstrom commented on #34
Well, I did a hard clean by removing the CDEPS build path and now it compiled. Thanks!

[2020-12-08 23:22] kshedstrom commented on #34
It compiled on chinook too, so the only real remaining issue here is that "case.build --clean" doesn't clean cdeps.

[2020-12-08 23:30] jedwards4b commented on #34
As a shared library CDEPS is not cleaned by --clean you need to use --clean-all

[2020-12-15 04:04] alperaltuntas opened #35 "Bug in coszen time interpolation in shr code"
**NOTE:** this is a duplicate of CIME issue: https://github.com/ESMCI/cime/issues/3802
I am re-submitting the issue here also for the record.

When running with the JRA data streams, the `coszen` time interpolation algorithm in shr code appears to have a bug resulting in large flux values being passed from the coupler to components. We discovered this issue when running the G compset (both w/ POP

[2020-12-18 22:47] billsacks opened #36 "Have datm send ndep to surface components"
(Copying this from https://github.com/ESMCI/cime/issues/3549, originally opened by @ekluzek.)

Both CLM and the ocean model need Nitrogen deposition to be sent in. We've handled this by having it sent in by CAM when WACCM is run -- but having each surface component handle prescribed datasets themselves. This means that OCN and LND could have inconsistent datasets. And it also leads to certain prob

[2020-12-18 22:48] billsacks commented on #36
This would also be very good so that we could test the sending of ndep in I compsets, avoiding issues like ESCOMP/CTSM#1233

[2020-12-21 19:17] klindsay28 opened #37 "CDEPS build failure in SMS_Vnuopc.T62_g37.A.cheyenne_pgi.drv-default test"
Test `SMS_Vnuopc.T62_g37.A.cheyenne_pgi.drv-default` fails in SHAREDLIB_BUILD with the message
[code]

CASEROOT for a failing test is `/glade/scratch/klindsay/SMS_Vnuopc.T62_g37.A.cheyenne_pgi.drv-default.20201221_115419_shjatv`

This is with the current head of the `nuopc_dev` branch of [CESM](https://github.com/ESCOMP/CESM) plus https://github.com/ESMCI/cime/pull/3803. Relevant hashes are
[code]

[2020-12-30 21:29] uturuncoglu opened #38 "CDEPS build fails under Mac OS using gfortran"
I hit two error message when I try to build CDEPS in my local machine (Mac OS using gfortran) and I just want to document them in here to fix in the following PR,

**1. For GNU compilers GCC>=10.x, the default Fortran argument mismatch checking has become stricter and this causes following error,**

[code]

This can be solved by adding following to cmake command,

[code]

**2. Some lines in the CD

[2020-12-30 21:39] mvertens commented on #38
I wonder if we should rewrite the all reduce using pure ESMF routines -
rather than shr_mpi routines. I think that would be something we should do.

On Wed, Dec 30, 2020 at 2:30 PM Ufuk Turunçoğlu <notifications@github.com>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: mvertens@ucar.edu

[2020-12-30 21:50] uturuncoglu commented on #38
@mvertens yes, that is good idea. then we could get rid of pure MPI calls in here. To be clear, the issue that we see in here is not having pure MPI calls and due to the same GNU restrictions, ESMF build also fails.

[2021-01-11 03:15] mvertens opened #39 "severe memory growth problems that becomes evident in longer runs"
For the case where a stream has multiple files to go over, I have discovered a significant memory growth that occurs each time a new stream file is open. This became evident in longer runs. I have a fix for this in dshr_stream_mod.F90 that involves the addition of two additional closefile calls. This is the branch mvertens/dynfrac which I will be issuing a PR for soon. However I wanted to make eve

[2021-01-11 04:38] uturuncoglu commented on #39
@mvertens thanks that is good to know. Since I have only two stream file for ERA5 and one for OISST at this point, I did not realize any issue in the HAFS application.

[2021-01-18 15:31] jedwards4b opened #42 "all use statements should have only clause"
The following use statements and possibly others need only clauses.
Please assure that new code to be introduced includes only clauses on all use statements.

streams/dshr_tinterp_mod.F90:  use ESMF
streams/dshr_strdata_mod.F90:  use ESMF
streams/dshr_methods_mod.F90:  use ESMF
drof/rof_comp_nuopc.F90:  use ESMF
datm/atm_comp_nuopc.F90:  use ESMF
datm/datm_datamode_era5_mod.F90:  use ESMF
datm/dat

[2021-01-19 23:40] #42 closed

[2021-01-20 17:28] uturuncoglu opened #44 "CDEPS aux tests fails with f10_f10_musgs grid"
The CDEPS aux tests that includes  f10_f10_musgs grids are failing as follows because the grid is deprecated in CLM side,

[code]

This needs to be fixed by updating the grid or removing those tests from the cdeps stand-alone test suite.

[2021-01-22 06:42] uturuncoglu opened #45 "wrong logical block close in the CMakeLists.txt"
@mvertens @jedwards4b In the last PR the following statement had the issue
[code]

In this case, there is a mismatch in foreach and endforeach. I am not sure why it is not catch before (it might related with the used cmake version) after all my tests with different applications but `endforeach(COMP)` needs to be `endforeach(DEPS)`. I am plaining to fix it, I could make another PR or directly fix.

[2021-01-22 14:38] jedwards4b commented on #45
I think you can just push this to master.  Thanks

[2021-01-22 20:19] uturuncoglu commented on #45
I think I need to make PR because it complains like following

[code]

[2021-01-22 20:51] #45 closed

[2021-02-04 23:25] billsacks commented on #38
See also https://github.com/ESMCI/cime/issues/3846

[2021-02-19 22:24] jedwards4b opened #53 "domain and mask for single point cases"
We should support just supplying a lat and lon location for a single column data set instead of the domain file.

[2021-02-19 22:35] jedwards4b commented on #53
Can we reuse xml variable PTS_LAT and PTS_LON for this?   I would propose changing the PTS_MODE from a booleon to
a string with values: False, 1PT, and SCOL.   1PT would indicate that there is no domain file and the mesh should be created from the PTS_LAT and PTS_LON values.  SCOL would be equivalent to the current PTS_MODE=TRUE.

[2021-02-19 23:04] jedwards4b commented on #53
Perhaps even better - for tower data such as NEON the lat and lon are also provided in the stream input file - can we use it from there?

[2021-03-16 16:32] mvertens opened #55 "nextswcday is not calculated correctly when iradsw > 1"
The problem is that  stepno is used to determine this. Problem is that stepno obtained via the advancecount argument to ESMF_GetClock and is the number of times the ESMF_Clock has been
advanced. The ESMF clock is actually advanced an additional time (in order to trigger alarms) in the routine dshr_set_runclock which is the specialized routine for the model_lable_SetRunClock.
This is called each ti

[2021-03-16 17:00] mvertens commented on #39
This was fixed by an ESMF update.

[2021-03-16 17:00] #39 closed

[2021-03-23 21:09] rsdunlapiv opened #57 "Can XML be replaced (or extended) with an option to use ESMF config?"
CDEPS currently requires the FoX library.  Since ESMF is already a dependency, it should be possible to use ESMF config and read in the same information as attributes.  There is precedent for configuring NUOPC components through its cap using ESMF attributes read from a config file.  NOAA UFS is particularly interested in this option to remove the FoX dependency.

[2021-03-23 21:12] rsdunlapiv commented on #57
@binli2337 @uturuncoglu @aerorahul @junwang-noaa @DusanJovic-NOAA

[2021-03-23 21:16] rsdunlapiv opened #58 "Options for handling or removing genf90"
The CDEPS build is failing on certain platforms when built on compute notes that do not have access to GitHub.com.  This is due to automatic download of genf90 from GitHub during the build process.  See: https://github.com/ESCOMP/CDEPS/blob/master/share/CMakeLists.txt#L34

One option is to commit the .F90 files themselves (and not re-generate from the .in templates) since these files change infreq

[2021-03-23 21:16] rsdunlapiv commented on #58
@binli2337 @uturuncoglu @aerorahul @junwang-noaa @DusanJovic-NOAA

[2021-03-23 22:30] jedwards4b commented on #58
Yes we can add genf90 as a submodule.

[2021-03-24 02:49] junwang-noaa commented on #58
@jedwards4b What is genf90 used for?

On Tue, Mar 23, 2021 at 6:31 PM jedwards4b ***@***.***> wrote:

[2021-03-24 20:15] #58 closed

[2021-03-24 20:22] arunchawla-NOAA commented on #58
I know I am partly responsible for repo proliferation, but do we need a new repo for just one program?

[2021-03-24 20:34] jedwards4b commented on #58
@junwang-noaa genf90 is a fortran preprocessor, it is used to expand a code block written in a way agnostic to data type into individual code blocks for each specific data type.
@arunchawla-NOAA genf90 is used by a number of different projects keeping it in it's own repo is nessasary to prevent divergence of the source.

[2021-03-24 21:10] aerorahul commented on #58
While this is still a hot topic, CMEPS has a local copy:
https://github.com/ESCOMP/CMEPS/tree/master/util

[2021-03-30 15:50] billsacks opened #62 "first_year and last_year in stream definition should be more general"
I noticed that many (all?) of the stream_definition xml files define a first_year and last_year like this:

https://github.com/billsacks/CDEPS/blob/48a26e6e39a0a1dbfca506192fab089344f49725/datm/cime_config/stream_definition_datm.xml#L206

I see two problems with this:
1. If you change the start & end years defined in config_component, you need to also change these years; it isn't obvious that you

[2021-03-30 17:36] billsacks commented on #62
I did some testing that suggests that first_year and last_year are currently required for the list of stream files to be created correctly. This seems to be the responsible code:

https://github.com/ESCOMP/CDEPS/blob/9f54ef007d846c1cbf7f67dcee5b54775aa33e3b/cime_config/stream_cdeps.py#L101-L111

My initial thought on how to resolve this is:
- Have separate conditionals for `first_year` and `last_y

[2021-03-30 21:55] ekluzek opened #63 "Two mesh files are NetCF4 and need a CDF5 version, and bad name for another mesh file..."
This is in v0.3.0

Two inputdata mesh files are in NetCDF4 format

atm/datm7/atm_forcing.datm7.cruncep_qianFill.0.5d.v7.c160715/clmforc.cruncep.V7.c2016.0.5d.ESMFmesh_260520.nc
atm/datm7/atm_forcing.datm7.NLDAS2.0.125d.v1/ctsmforc.NLDAS2.0.125d.v1.ESMFmesh_120620.nc

There's also a file listed as:

$DIN_LOC_ROOT/atm/datm7/anomaly_forcing/domain.permafrostRCN_P2.c2013.nc/domain.permafrostRCN_P2_ESM

[2021-03-31 02:15] #63 closed

[2021-03-31 20:02] uturuncoglu opened #65 "empty <stream_data_files> xml tag in the stream.xml file requires error handling"
The data component gives following error when user uses empty `<stream_data_files>` xml tag. It would be nice to have more meaningful error message that indicates missing stream data file.

[code]

[2021-04-03 00:58] ekluzek opened #67 "Seg fault in datm stream on izumi_intel reading in NetCDF-4 file"
I'm getting a seg-fault for a mpi-serial case with intel compiler on izumi.

SMS_Vnuopc.1x1_mexicocityMEX.I2000Clm50Sp.izumi_intel.clm-default

This is with cdeps: v0.5.0
cmeps: v0.8.0
cime: cime5.8.40

It appears to fail sometime early on in dealing with the streams files.

Looks like it from reading the following NetCDF-4 file:

/project/tss/atm_forcing.datm7.GSWP3.0.5d.v1.c170516/clmforc.GSWP3.

[2021-04-05 22:58] ekluzek commented on #67
OK, I seem to be wrong on a couple things here. The version of the file on cheyenne is NetCDF-5, and it is under svn under

atm/datm7/atm_forcing.datm7.GSWP3.0.5d.v1.c170516/clmforc.GSWP3.c2011.0.5x0.5.TPQWL.SCRIP.210520_ESMFmesh.nc

So I've recopied the file and am trying this again. Possibly the file got corrupted on izumi for some reason.

[2021-04-26 21:24] jedwards4b commented on #38
@uturuncoglu getting rid of shr_mpi is a good idea.
In cime we already have the gnu flag -ffree-line-length-none

[2021-04-27 22:52] jedwards4b opened #70 "Failure in docn with ./create_newcase --case foo --compset ADSOMAQP --res f19_g17 --run-unsupported --driver nuopc"
This compset is used in scripts regression tests causing test
test_j_createnewcase_user_compset_vs_alias to fail with driver nuopc.

The issue is in the docn buildnml script:
[code]

[2021-04-28 15:50] jedwards4b commented on #70
Looking at the output from mct - although there is a stream file generated it's empty, so I
think that the correct solution is to add som_aquap to the list of modes that do not generate a stream file (line 94 of docn buildnml) @mvertens do you agree?

[2021-04-28 17:13] #70 closed

[2021-04-28 23:57] ekluzek opened #72 "Start making annotated tags for CDEPS rather than unannotated..."
The CDEPS tags so far are unannotated. I suggest it's better to make annotated tags when you want them to be permanent in the repository. With annotated tags "git describe" will automatically show you the closest annotated tag for example. With the unannotated tags I have to add an argument to it (--tags). We shouldn't change existing tags, but it would be good to have any new tags on CDEPS be ann

[2021-04-29 00:12] mvertens commented on #72
@erik - I agree with you. @jedwards4b was going to look into seeing if this could be automated. If not - we should think of always manually tagging a version. This issue applies to CMEPS as well.

[2021-04-30 19:00] ekluzek opened #75 "Add 2018 and 2018-Pd options for DATM_CO2_TSERIES and DATM_PRESAERO"
For the NEON work we need to have 2018_clim and trans_2018-PD options to DATM_PRESAERO and DATM_CO2_TSERIES. I suggest that taxmode for these should be limit so it doesn't cycle or extend, and that the end year (Present Day or PD) be set to $DATM_YR_END. Right now they will also need to use a SSP-RCP scenario since we don't have historical data beyond 2015. We suggest it use the SSP3-7.0 since tha

[2021-04-30 19:14] ekluzek opened #76 "Add ability to modify individual streams.xml settings with something like user_nl_datm or xmlchange"
Just talked to @mvertens and @jedwards4b about this. I'd like to see the ability to modify individual settings in datm.streams.xml with something like user_nl_datm or a xmlchange (or a new streamchange command). Whichever makes the most sense.  This way the user can easily change just a few settings for an individual case without having to copy the entire streams file for just a few small changes.

[2021-04-30 19:22] jedwards4b commented on #76
although directly related to cdeps, i believe that the changes will be in cime.

[2021-04-30 22:25] ekluzek opened #78 "NEON data is hardcoded to use 2018-2019 it should use $DATM_YR_START and $DATM_YR_END"
stream_definition_datm.xml in datm/cime_config has the 2018 and 2019 start/end years hardcoded in it, but it should use the $DATM_YR_START and $DATM_YR_END xml variables so that the case case can change them. Right now it doesn't respond to changes in either.

The 2018/2019 defaults could be put in the config_component.xml file, but they would apply to all 1PT forcing cases, but that is likely OK.

[2021-04-30 23:05] ekluzek opened #79 "When overriding datm.streams.xml file with a user version it doesn't modify datm.input_data_list by the actual file list in the user file"
When you override the datm.streams.xml file with a file in your $CASEDIR, it doesn't use the new list of files or  the yearFirst and yearLast to determine the file list. It does use the stream file from the $CASEDIR, but it doesn't change datm.input_data_list by what's in the user file. Since, the inpudata_data_list is updated with each run of preview_namelists this makes it difficult to use if th

[2021-04-30 23:43] ekluzek opened #80 "datm.stream.xml file is not copied from test-mod to the $CASEDIR"
This may really be an issue in cime.  And actually issue #76 supersedes this. But, until #76 is done it makes sense for a datm.stream.xml file in a test-mod directory to be copied into the $CASEDIR. But, with #78 and this issue I don't have a workaround to get the NEON test case to work.

It does make sense to me that if a user can change their own case with a datm.stream.xml file that this same c

[2021-05-01 17:39] ekluzek commented on #78
Fixed in P$ #81.

[2021-05-01 17:42] ekluzek commented on #72
Tags starting with v0.11.0 are now annotated.

[2021-05-01 17:42] #72 closed

[2021-05-01 18:06] ekluzek commented on #78
I was premature it's not on main-dev yet.

[2021-05-01 18:28] ekluzek opened #82 "Have filenames in streams use years from $DATM_YR* rather than hardcoded min/max"
This is especially true for datm because the list of files is long. But, it could apply to other data models as well. Currently the minimum and maximum years for the filenames in streams is hardcoded in. The actual years that will be used is set by $DATM_YR* variables. But, for instance for CLMGSWP3v1.Solar you have this...

`<file first_year="1901" last_year="2014">$DIN_LOC_ROOT_CLMFORC/atm_forci

[2021-05-01 18:31] ekluzek commented on #82
The one catch to this is that I think in some cases the previous file (before the starting year) and the next file (after the ending year) is needed. I'm not quite sure when that's required though.

I also see the value in having the data range expressed in the file. But, maybe that could be a separate variable. And if that was done you could have the streams mechanism check if it was in range. I

[2021-05-01 18:33] ekluzek commented on #82
I did notice many streams that have hardcoded values for stream_year_* settings. And I wonder if they shouldn't be changed to operate on $DATM_YR* as well, although it depends on the specific stream.

[2021-05-03 13:20] jedwards4b opened #83 "SMS_Vnuopc_Ln5.f19_f19_mg17.2000_DATM%QIA_SLND_SICE_DOCN%SOMAQP_SROF_SGLC_SWAV"
Should generate a docn stream file but does not.

[2021-05-03 15:46] #78 closed

[2021-05-08 21:18] ekluzek commented on #62
This is related somewhat to #82. @billsacks we should likely discussion this more...

[2021-05-08 21:24] ekluzek opened #86 "Meterological forcing for CLM should have taxmode of cycle or limit, but NOT extend."
Many of the taxmode's for CLM atmospheric forcing is set as extend. Extend is problematic for this data in CLM as it then leaves the atmospheric state at the last 1-hour to 3-hour period. This wipes out diurnal cycles, and produces persistent droughts in some locations and constant rain in others. Eventually this causes the land model to act strangely and often crash, since the forcing is so whack

[2021-05-10 18:30] mvertens commented on #86
@ekluzek - can you please point out which taxmodes need to be changed from extend and what the new values should be.
If you just want to go ahead and change them in the stream_definition.xml and issue a PR - that would be great and very helpful.

[2021-05-10 18:32] ekluzek commented on #86
Yes, I have a set of changes ready. I just need to make a PR with it. And a little more testing to make sure I'm not messing anything up.

[2021-05-10 18:40] mvertens commented on #75
@ekluzek - can you put these modifications in as well - and issue a PR?

[2021-05-10 18:55] mvertens commented on #80
@ekluzek - just to confirm - if we implement the xmlchange capability to modify the stream xml file - this issue no longer is needed. Is that correct?

[2021-05-10 19:16] ekluzek commented on #76
Yes. We need to be able to use xmlchange to change the settings in the datm.streams.xml file. So for example I want to change "yearFirst" in the following stream labeled "CLM_USRDAT.1x1pt_US-UMB".

Here's what the xml stream file looks like...

[code]

So I want to be able to do something like this...

`./xmlchange --subgroup CLM_USRDAT.1x1pt_US-UMB --id yearFirst --val 1999 --file datm.stream.xml

[2021-05-10 19:17] ekluzek commented on #76
In order to implement it I picture you'll likely have to add a XML file for streams that appears in each case. Normally it would be nearly empty, but users can add specific settings to it (with xmlchange) that will override the settings in datm.streams.xml. So the case would read in the base xml file under cdeps and then modify it by any settings provided in the override file for the specific case

[2021-05-11 20:48] ekluzek commented on #86
In my testing I found out that this can't be done for the main global forcing, since we use 1901 forcing for 1850-1900. So I'm only applying this for the single point forcing and NLDAS2 options.

[2021-05-11 20:52] ekluzek commented on #82
OK, I'm NOT doing this as it's unclear if it should be done. This needs some discussion. With more testing I found out that it will limit the years in the list based on BOTH $DATM_YR_* and the min and max in the streams file. It doesn't declare an error though if your DATM_YR_START or DATM_YR_END is out of range -- it'll let that go, but set it up for those years without the needed files. This mea

[2021-05-12 16:16] jedwards4b opened #89 "SMS_Vnuopc_Ld5_P1.1x1_mexicocityMEX.2000_DATM%1PT_SLND_SICE_SOCN_SROF_SGLC_SWAV_SESP.cheyenne_intel"
This test fails due to an incorrect DATM_YR_ALIGN

[2021-05-12 22:18] ekluzek commented on #89
OK, I see the problem. For some of these single point forcing sites $DATM_YR_ALIGN is used for the align year, but the year start and end are hardcoded in the streams file. So the align year should be hardcoded as well. Especially for these cases where a single year is being used.

This is partially due to the issues surrounding  #62.  If we come up with a better solution there that should help pr

[2021-05-13 01:35] ekluzek opened #90 "NEON needs ability to handle less than a full year of data"
NEON data will be updated monthly.  As such the streams will need to be updated monthly for the last year of data, so that you can run to the end of it. So there needs to be a way to designate the last valid month for that last year of data.

There could be a XML variable to designate the last month of data, that could be invoked for the last year. Normally it wouldn't be used (or assumed to be 12

[2021-05-13 01:40] ekluzek commented on #90
There is currently a workaround for this if you provide a datm.stream.xml file in a case you can set the file to have exactly the desired months of data, but you have to set it up by hand.

[2021-05-13 06:33] ekluzek opened #91 "aux_cdeps test list has some tests with f10_f10_musgs needs to be updated to f10_f10_mg37"
Some of the datm tests in aux_cdeps are with the f10_f10_musgs grid and need to be updated to the f10_f10_mg37 grid.

[2021-05-13 19:02] ekluzek commented on #86
OK, a new issue I found is that the limit shows up in the simple cdep tests -- because they aren't careful to start and end on the time extents of the 1PT forcing datasets. My tests in CTSM are careful to do that. This is actually doing what I think it should though -- because a user can't actually do meaningful runs outside the period of data. So it's catching what I think it should. But, I'll ha

[2021-05-14 16:21] #86 closed

[2021-05-14 16:21] #89 closed

[2021-05-14 16:21] #91 closed

[2021-05-14 18:54] ekluzek commented on #86
In looking at this a little bit I see that MCT is setup this way as well. That's likely why it's setup this way as well. I'd say it's a mistake there as well though. This sets up the model in a way that a user can get nonsensical results -- but not realize what the problem is. It's easier for us as code maintainers possibly, but we really don't want to allow a situation where users can run a case

[2021-05-14 21:29] jedwards4b opened #94 "cdeps testlist not covering fully"
I think that dice and drof are not currently tested in the testlist.

[2021-05-18 00:05] ekluzek opened #96 "Build issues with nag compiler on izumi"
This is likely both a problem with CDEPS and cime, so I'm posting both places. The test ERS_D_Mmpi-serial_Ld5_Vnuopc.1x1_brazil.I2000Clm50FatesRs.izumi_nag.clm-FatesColdDef worked previously, but is now failing to build because of a timeout for the dwav library.

The tail of the build log looks like this:

cat: FAILED,: No such file or directory
cat: cat: No such file or directory
Running cmake fo

[2021-05-18 00:57] ekluzek commented on #96
A global case fails as well.

[2021-05-18 19:22] ekluzek commented on #96
I also find that izumi_gnu and izumi_intel fail to build with this configuration as well. And we already know that PGI has issues which still fails. I think the issues might be different with the different compilers, but for now I'll just mention this here.

[2021-05-20 16:53] mvertens opened #97 "default way of doing long CTSM simulation does not work with CMEPS/CDEPS"
The default way of running a standard CTSM long simulation is the following:

[code]

The problem is that for cdeps this is really not a restart and the following error occurs when during the read of the datm restart file at model date 19010101:

 ERROR: something is wrong
The traceback is:
[code]

This is due the fact that the restart file expects 240 files in each stream (20 years X 12 months),

[2021-05-20 16:59] mvertens opened #98 "putting CDEPS modifications in SourceMods"
If I want to change CDEPS share code for a run - its not clear where CDEPS modifications should go in the $CASEROOT/SourceMods directory. In testing #97, changes to dshr_mod.F90 were put in src.share and then in src.datm  - but the recompile did not pick them up.
Its interesting that it seemed to pick it up (in src.drv) if I blew away bld/intel/mpt/nodebug/nothreads/nuopc/CDEPS.

[2021-06-18 22:30] ekluzek opened #101 "Allow "limit" taxmode in streams to use data before or after the years running over if available"
I've found that the "limit" option for taxmode can be a really good way to find simulation setups that are invalid and will produce bad results. Sometimes the "extend" option is used where it shouldn't as the first or last value in a daily (or even yearly) varying series is a horrible thing to do. As well as the "cycle" option will go back to the beginning year of a transient period when it reache

[2021-06-18 22:33] ekluzek commented on #101
The one workaround that I think I can use for this is to tell it to start one year before I want and run until one year after I want, but make sure the align year is set for it to start at the desired year. I'm going to try that out and make sure it works the way I think it should.

[2021-06-18 23:09] ekluzek commented on #101
I tried my workaround, and it still fails, as it finds the same problem for the prior year, as it doesn't realize that it doesn't need the Jan/1849 data since the simulation actually starts in 1850 rather than 1849.

Here's the error I get for a MCT test case, where it uses 1849 as the first year for the stream, but starts in 1850...

SMS_D_Ld1_Mmpi-serial.1x1_smallvilleIA.IHistClm45BgcCropQianRs.

[2021-06-22 19:24] ekluzek commented on #101
I realized that this is a little more complex than I was initially thinking, but I still think this is the right thing to do. The added complexity is that when you have lists of files you'll need to add in the file before the start year as well as the file just after the end of the end year. So for example if the files are monthly add the December of the year before and January of year after.

The

[2021-06-22 19:59] mvertens commented on #101
@ekluzek - I think what you are suggesting makes sense - but I feel that until we implement this functionality in CDEPS we should back out the limit option and go back to the original formulation. This is impacting a series of tests that are now failing. In addition, the dlimit option should be carefully tested in a variety of configurations before we incorporate it into the CDEPS code base the wa

[2021-06-22 22:36] jedwards4b commented on #101
The time field in stream data files is partially defined by the units attribute, for example
	time:units = " days since 1992-08-12 20:00:00" ;
This field is read by dshr_stream_mod.F90 and used to set strm%file(k)%date(n) [here.](https://github.com/ESCOMP/CDEPS/blob/master/streams/dshr_stream_mod.F90#L1217)

If offset is non-zero this date may be adjusted in the code immediately following that lin

[2021-06-23 16:10] ekluzek commented on #101
@mvertens I looked up what I changed to limit and it's these two commits.: a5b1e8afb303bdec93835039ee0373bbeb6ff1f1, 29a6ad338cea0ac8bb62dff161843d345ac10098. The cases it involves are: "Set limit on NEON, CLM_USRDAT, and NLDAS2 HIST"

I can make another issue to back that change out, as well as a PR for it if you like.

[2021-06-23 16:31] mvertens commented on #101
That would be great. Thanks.

On Wed, Jun 23, 2021 at 10:10 AM Erik Kluzek ***@***.***>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: ***@***.***

[2021-06-23 16:49] jedwards4b commented on #101
@ekluzek I'm working on fixing the limit issues, I don't think you should back out your change.

[2021-06-23 16:56] mvertens commented on #101
@jedwards4b - great! That's awesome.

On Wed, Jun 23, 2021 at 10:49 AM jedwards4b ***@***.***>
wrote:

--
Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: ***@***.***

[2021-06-23 17:49] ekluzek commented on #101
OK, thanks @jedwards4b. If you change your mind -- let me know I'm happy to do it if it helps. Would be simple to do.

In the long run I'd rather to get this right though. So I'm really glad you are working on this. Thanks so much.

[2021-06-23 22:01] jedwards4b commented on #101
After careful examination and experiments with the test SMS_Ly1_Mmpi-serial_Vnuopc.1x1_vancouverCAN.I1PtClm50SpRs.cheyenne_gnu.clm-output_sp_highfreq
I have determined that the limit code in dshr_stream_mod.F90 is working correctly as written.

Out of the box the test results in:
[code]
which is true.  The RUN_STARTDATE=2000-01-01 and the rDategvd=19920826.583368056 so the model is trying to start

[2021-06-23 22:29] jedwards4b commented on #101
@ekluzek I also tried the case mentioned in https://github.com/ESCOMP/CTSM/issues/1295
In this case with
[code]
it fails with:
[code]
which is correct because the first time in the file is 15.5 and so the first date is 2018-01-15
but why do you want to align the ndep year - this setting is using the 1850 values from the file for your 2018 run.  If I remove this setting from your user_nl_clm the ru

[2021-06-23 22:44] jedwards4b commented on #101
I think that the correct settings for this case are
[code]

[2021-06-23 23:08] ekluzek commented on #101
@jedwards4b you are right that setting for the align year makes no sense. I'll have to dig into our case and figure out why that's happening. Thanks for pointing that out.

And I agree with your list of settings above.  So if I start on Jan/1/1850 -- does the above settings work? I thought it would complain that first date in the file for 1850 is 15.5 days in, so limit would only work if you start

[2021-06-24 00:35] jedwards4b commented on #101
I'm really confused about that - it would imply that you want your 2018 run to use the 1850 data in the file when the file does contain 2018 data and it should start from there.  I think that the setting
[code]
caused the beginning of the file (1849 not 1850) to align with 2018.

[2021-06-24 22:08] ekluzek commented on #96
This is working with Using cime5.8.47, cmeps0.13.10, and cdeps0.12.9 as recommended and fixed by @jedwards4b. So closing.

[2021-06-24 22:08] #96 closed

[2021-07-10 04:14] billsacks opened #104 "Wrong argument order in cdeps buildlib"
I think the argument order on this line is wrong:

https://github.com/ESCOMP/CDEPS/blob/c999578ab92422df7bf4fe7249c16cd3baff69b3/cime_config/buildlib#L130

As noted in https://github.com/ESMCI/cime/issues/4034, this is using argument parsing that is appropriate for components, which (confusingly!) differs from the order of arguments in calls to libraries' buildlibs. CDEPS is built using the librar

[2021-07-13 20:58] uturuncoglu opened #105 "Having more meaningful error output"
Currently the CDEPS provides error messages as something like cryptic and it is hard to understand what is going on in the background to solve the issue. For example, if you are not providing data in correct temporal extent by using `limit` option, you are getting message like `rDateIn gt rDategvd` and this is not very informative and you need to go to code to understand the main issue. It would b

[2021-07-29 19:04] jedwards4b commented on #105
@uturuncoglu it would be great if you could provide a specific example and desired error message.

[2021-07-29 19:07] jedwards4b commented on #98
Was this addressed with #106?

[2021-07-29 20:00] jedwards4b opened #109 "cycle mode"
Currently cycle only works on year boundaries.   Add logic to make it work on for example month boundaries.

[2021-07-29 20:03] uturuncoglu commented on #109
@jedwards4b i am not sure this is duplicate of the following issue https://github.com/ESCOMP/CDEPS/issues/26

[2021-07-29 20:09] jedwards4b commented on #109
Yes, perhaps it is.  thanks

[2021-07-29 20:09] #109 closed

[2021-08-16 23:21] ekluzek opened #113 "Use of redist for mapalgo for NLDAS2 forcing should only be used if the grid is NLDAS2"
Right now for the NLDAS2 forcing the mapping chosen is "redist" which should be fine when the grid is identical to the entire NLDAS2 forcing grid. But, it causes problems when you are running on a different map. As Sean Swenson points out it "it appears that it gets fed garbarge (1e30 or something like that) for solar, etc, and then blows up."  So it would be good if it could recognize that redist

[2021-08-16 23:31] mvertens commented on #113
CDEPS should automatically be detecting this. Can you please document how to reproduce this problem and including what test you ran and what clm tag you used?

[2021-08-17 06:10] ekluzek commented on #113
I see no provision in CDEPS to change the mapalgo depending on the grid input. redist is hardcoded in the stream_definition_datm.xml file for datm for the NLDAS2 forcing.

But, in terms of showing a test for this. Here's one I just did.

ctsm5.1.dev053 with cdeps0.12.19

cd cime/scripts
./create_test SMS_Ld1_Vnuopc.1x1_camdenNJ.I2000Ctsm50NwpSpNldas.cheyenne_gnu.clm-default -r . --queue premium --

[2021-08-18 20:35] mvertens commented on #113
@ekluzek - can you please change the mapping to redist to resolve this problem and issue a PR. Or do we want to do something more general.

[2021-08-20 16:27] uturuncoglu opened #114 "applying temporal interpolation to only unmasked grid cells"
The current version of CDEPS applying temporal interpolation to the fields independent from the underlying mask. This could create an issue in some cases if the stream data has differernt value over the masked regions. I had this issue with the new CICE data mode that I am developing. The data file for the initial time step does not follow same convention with the rest of the CICE history files an

[2021-08-24 16:09] wwieder opened #115 "Print warning when datm data are missing"
In single point ctsm cases when datm data are missing the model exits and a CH4 error.
@jedwards4b, It would be helpful to print and warning if datm data are missing to help users find the real source of this error more easily.

[2021-08-24 16:10] jedwards4b opened #116 "Add warning re missing data"
Add a warning to output with respect to missing input data if that data is within the domain of use.

[2021-08-25 16:22] mvertens commented on #104
@jedwards4b - can you please look at this. Has this been resolved?

[2021-08-25 16:35] mvertens commented on #98
@jedwards4b - this is still an issue - and should be resolved before CDEPS/CMEPS becomes the default.

[2021-09-01 21:35] #115 closed

[2021-09-01 21:54] jedwards4b commented on #98
./create_test SMS.f19_g17.X --no-build
  cd $CASE
  cp $CDEPS_SRC/streams/dshr_strdata_mod.F90 SourceMods/src.drv/
  ./case.build

Works as expected and compiles the SourceMods/src.drv/dshr_strdata_mod.F90

 mv SourceMods/src.drv/dshr_strdata_mod.F90 SourceMods/src.drv/dshr_strdata_mod.F90.tmp
 ./case.build

Also works correctly and compiles the original dshr_strdata_mod.F90.

 mv SourceMods/src.d

[2021-09-01 22:05] jedwards4b commented on #104
@billsacks please consider https://github.com/ESMCI/cime/blob/master/scripts/lib/CIME/buildlib.py#L41
in light of that this line looks correct to me:
https://github.com/ESCOMP/CDEPS/blob/master/cime_config/buildlib#L152

[2021-09-01 22:07] jedwards4b commented on #116
This was addressed by #119

[2021-09-01 22:07] #116 closed

[2021-09-01 22:19] billsacks commented on #104
@jedwards4b - The (confusing) situation is that the argument order differs when CIME calls component buildlib scripts vs. library buildlib scripts. Typically the library buildlib scripts are called as python functions rather than subprocesses, so it doesn't really matter, but if they were called as a subprocess, it would matter. It looks like https://github.com/ESMCI/cime/blob/master/scripts/lib/C

[2021-09-01 23:00] jedwards4b commented on #98
Sorry I should not have started with an X case.  I went back and repeated with an A case and got the problem - I'm working on it.

[2021-09-02 01:02] mvertens commented on #98
@jedwards4b - thanks for taking this on. It will be great to get this
resolved.

On Wed, Sep 1, 2021 at 5:00 PM Jim Edwards ***@***.***> wrote:

--
Dr. Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: ***@***.***

[2021-09-02 14:09] jedwards4b commented on #98
This is fixed by https://github.com/ESMCI/cime/pull/4079

[2021-09-07 22:31] #98 closed

[2021-09-13 17:46] jedwards4b commented on #114
@uturuncoglu can you try branch use_fillval_in_timeinterp in my fork https://github.com/jedwards4b/CDEPS/   and see if it will satisfy this issue.

[2021-09-13 17:48] uturuncoglu commented on #114
@jedwards4b sure but it will take time to create the case again. I'll let you know about it.

[2021-09-13 21:22] jedwards4b commented on #114
Currently the mask variable is never read from stream files. So I am not clear on what mask is considered at https://github.com/ESCOMP/CDEPS/blob/master/streams/dshr_strdata_mod.F90#L541

[2021-09-14 17:55] jedwards4b commented on #114
I understand that the elementMask from the mesh file is used, I have a new approach that uses this mask rather than the netcdf _Fillvalue.   @uturuncoglu this is in a new branch on my fork: meshmask_in_timeinterp

[2021-09-14 19:08] uturuncoglu commented on #114
@jedwards4b which one do you want me to test `use_fillval_in_timeinterp` or `meshmask_in_timeinterp`. Maybe both of them?

[2021-09-14 19:54] jedwards4b commented on #114
@uturuncoglu I think that the second approach (meshmask_in_timeinterp) is preferred.

[2021-09-20 21:30] ekluzek opened #120 "Cosine solar zenith angle forcing is off by a time-step"
Moving this over from the cime issue:

https://github.com/ESMCI/cime/issues/3380

From some analysis by Sean Swenson, we see that the cosine solar zenith angle forcing is off by a time-step.

I think the problem is in shr_tInterpMod.F90 in shr_tInterp_getAvgCosz, where a time update happens and then the solar-zenith angle is calculated. I think that should be reversed the solar zenith angle is cal

[2021-09-30 16:22] jedwards4b commented on #114
@uturuncoglu Any update on this one?

[2021-09-30 16:26] uturuncoglu commented on #114
@jedwards4b Sorry, I could not make progress about it due to other things. Let me first run the UFS model with CDEPS PR and look at this one later. Sorry again.

[2021-09-30 16:30] jedwards4b commented on #120
@swensosc @ekluzek is this what you need?
[code]

[2021-09-30 16:43] swensosc commented on #120
yes, the advance should occur after the getCosz call. In this order, does
the 'if (reday > reday2) then' actually do anything?  It looks
like it would exit the while loop immediately after it would potentially be
triggered (?)

On Thu, Sep 30, 2021 at 10:30 AM Jim Edwards ***@***.***>
wrote:

[2021-09-30 16:57] jedwards4b commented on #120
I agree, that block of code does nothing:
[code]

[2021-09-30 16:59] jedwards4b commented on #120
Can you provide a test that it's now correct?

[2021-09-30 17:12] swensosc commented on #120
I will have to go back and see how I checked this; it has been a couple of
years.  I believe that what I did was run the model a few days with time
step level output, then check that the interpolated solar was more smoothly
varying at the forcing time boundaries.  Would something like that be a
sufficient test?

On Thu, Sep 30, 2021 at 10:59 AM Jim Edwards ***@***.***>
wrote:

[2021-09-30 17:18] jedwards4b commented on #120
Sure - here is the cdeps fork https://github.com/jedwards4b/CDEPS and branch jedwards/solar_zenith_angle_correction

[2021-09-30 17:53] swensosc commented on #120
I think that the other change, in cdeps/streams/dshr_strdata_mod.F90, needs
to be made at the same time as this.  Iirc, the error in
dshr_tinterp_mod.F90 was probably made in order to compensate for the error
in dshr_strdata_mod.F90.  That bug in dshr_strdata_mod.F90 is in this line:
if (rDateM < rDateLB .or. rDateM > rDateUB) then
which should be:
if (rDateM < rDateLB .or. rDateM >= rDateUB) then

[2021-09-30 17:59] jedwards4b commented on #120
I've pushed this additional change to the branch.

[2021-09-30 22:06] uturuncoglu commented on #114
@jedwards4b after adding following to `nems.configure, I could able to run HAFS DATM+HYCOM configuration without any issue

[code]

[2021-09-30 22:07] uturuncoglu commented on #114
Sorry this comment for your PR. I am delating previous comment and moving to your CDEPS PR.

[2021-10-01 18:57] jedwards4b commented on #120
From @swensosc "I ran two five day simulations, with and without your cdeps changes.  The changes correct the bug."

[2021-10-01 19:22] jedwards4b commented on #34
@kshedstrom Cleaning up old issues, I believe this one is resolved - do you agree?

[2021-10-01 19:25] jedwards4b commented on #35
@alperaltuntas Does #123 address this issue?

[2021-10-01 19:27] kshedstrom commented on #34
Yes, I can build with gfortran.

[2021-10-01 19:28] #34 closed

[2021-10-01 19:29] jedwards4b commented on #31
This issue has been resolved.

[2021-10-01 19:29] #31 closed

[2021-10-01 19:36] #44 closed

[2021-10-01 19:37] #53 closed

[2021-10-01 19:38] jedwards4b commented on #57
@rsdunlapiv any reason not to close this issue?

[2021-10-01 19:41] uturuncoglu commented on #57
@jedwards4b I think this can be closed since ESMF config option is implemented in CDEPS side.

[2021-10-01 19:42] jedwards4b commented on #37
@klindsay28 I believe that this issue can be closed - do you agree?

[2021-10-01 19:44] #57 closed

[2021-10-01 19:47] jedwards4b commented on #83
Fixed

[2021-10-01 19:47] #83 closed

[2021-10-01 19:50] jedwards4b commented on #114
@uturuncoglu wrote

[2021-10-01 20:02] jedwards4b commented on #113
@ekluzek I think that @mvertens meant - is it adequate to change the default mapping to bilinear for NLDAS2 forcing streams?

[2021-10-01 20:39] ekluzek commented on #113
Ahhh, you are saying how about we make it always do bilinear (which I would think should always work even when the grid is identical)? This would be the simplest fix for this issue.

It sounds like you are saying there isn't a good way to detect if the grids are identical in the scripting. As such we want to put the onus on the user for determining if redist is the right thing to do. If the user n

[2021-10-01 21:06] #113 closed

[2021-10-04 16:34] #114 closed

[2021-10-04 19:19] alperaltuntas commented on #35
Yes, it does!

[2021-10-21 22:42] ekluzek opened #127 "Allow datafiles entries in user_nl_datm_streams to have the "%" wildcard syntax"
Inside the stream_definition xml file wildcards can be used to fill in filenames with year/date type forms. For example %ym gets expanded to the year and month in the form YYYY-MM. Since, the only way to directly change the list of files is through user_nl_datm_streams adding this functionality would prevent having users to create long lists of filenames (and prevent them making mistakes in those

[2021-10-21 22:44] ekluzek commented on #127
I did check for kicks and as I suspected it doesn't interpret the % syntax when it comes in from user_nl_datm_streams (in cdeps.0.12.26)

[2021-10-21 22:47] ekluzek opened #128 "Allow user_nl_datm_streams file entries to have multi-line inputs"
I know this was working, but in cdeps0.12.26 I see the following error when I try to add multi-line input for an entry in user_nl_datm_streams.

[code]

[2021-11-01 19:25] rsdunlapiv opened #130 "Documentation fixes"
A few things found when reviewing the CDEPS docs at:
https://escomp.github.io/CDEPS/html/index.html

## Section 2.1

but later in that section:

-----

meta-data --> metadata (throughout)

## Section 2.2

readind in fields --> reading in fields

----
Capitalization:

## Section 2.3

Check usage of "CIME" throughout.  Usage of "CIME" should be when there is special data model functionality related

[2021-11-01 19:31] mvertens commented on #130
@rsdunlapiv - thanks for finding these issues. @uturuncoglu @rsdunlapiv - can @ufuk and myself be assigned to handle the documentation? Is that reasonable?

[2021-11-01 19:38] rsdunlapiv commented on #130
@mvertens I just wanted to capture these while I was looking over the docs for the upcoming presentation, nothing critical.  We can use this issue to collect the doc updates that are needed and then take another pass at addressing them.

[2021-11-01 19:44] mvertens commented on #130
That sounds great. Thanks!

On Mon, Nov 1, 2021 at 1:38 PM Rocky Dunlap ***@***.***>
wrote:

--
Dr. Mariana Vertenstein
CESM Software Engineering Group Head
National Center for Atmospheric Research
Boulder, Colorado
Office 303-497-1349
Email: ***@***.***

[2021-11-03 18:23] billsacks commented on #5
@mvertens do you know if this is still an issue?

[2021-11-03 18:24] billsacks commented on #17
@mvertens Can you clarify? Do you mean adding a system test that covers these?

[2021-11-03 18:33] billsacks commented on #80
@ekluzek based on the last comment, I'm closing this since #76 has been done

[2021-11-03 18:33] #80 closed

[2021-11-03 18:34] billsacks commented on #79
Is this still an issue, or has it been solved / superseded?

[2021-11-03 18:34] billsacks commented on #67
@ekluzek since most nuopc testing works now, I'm going to assume this has been solved and am closing this issue.

[2021-11-03 18:34] #67 closed

[2021-11-03 18:36] #37 closed

[2021-11-03 19:07] ekluzek commented on #79
I just tried this in my externals update branch and it looks like it works correctly now. So I'm closing this.

[2021-11-03 19:07] #79 closed

[2021-11-04 04:16] billsacks opened #131 "test DAE.ww3a.ADWAV fails with nuopc driver"
Moving this old issue from https://github.com/ESMCI/cime/issues/3491 opened by @jedwards4b . We aren't sure if it's still an issue, but @mvertens suggested opening the issue here for further testing.

The comment in the original issue from @jedwards4b was:

The assimilation interface has not been included in the dwav model.

[2021-11-04 04:33] ekluzek opened #132 "Extend mapalgo options for streams to include an conservative remapping option"
There are some datasets for which a conservative mapping would be desired. So we'd like to see the mapping capability in share streams extended to at least a first order conservative one. Right now the mapalgo options are: none, bilinear, redist, and nn. Using ESMF it should be fairly straightforward to add an option for conservative remapping.

This was originally on the cime side in this issue..

[2021-11-04 08:17] mvertens commented on #132
@ekluzek - conservative mapping is now in cdeps. You simply need to simply change the xml file `<mapalgo>` entry to `consf` in the `stream_definition_datm.xml.`

[2021-11-04 08:17] #132 closed

[2021-11-09 02:38] mvertens commented on #5
@billsacks - Can you suggest a compset that I can try for this?

[2021-11-09 16:28] billsacks commented on #5
If I understand the initial comment, any T compset should do – e.g., `SMS_D_Ly1.f09_g17_gris4.T1850Gg.cheyenne_intel`. But rereading the initial comment, it sounds like things were completely broken at one point, which I'm pretty sure they're not now, so I'm thinking this must have been fixed at some point.

[2021-11-10 20:01] mvertens commented on #5
@billsacks - look like things are working now. I'm going to close this issue.

[2021-11-10 20:01] #5 closed

[2021-11-16 22:30] mnlevy1981 opened #133 "Make sure data models share grid with forcing data?"
When running CESM with `datm` and an active ocean, you can use either CORE forcing or JRA. The former is available on the `T62` grid, while the latter is on the `TL319` grid. In MCT, if you try to use the JRA forcing on `T62` then CESM aborts with the error

[code]

I suspect NUOPC will run in this configuration, and map the forcing data from TL319 -> T62 before mapping it from T62 -> TL319.

Prop

[2021-12-01 21:57] ekluzek opened #134 "Allow mapalgo to be none for mapalgo in buildnml"
mapalgo needs to be allowed to be none for mapalgo in the cdeps buildnml. This is used for the single point cases of CTSM. It's already allowed for the NEON sites, but for other sites returns an error if you try to set it.

[2021-12-01 22:15] ekluzek opened #135 "Don't allow start_yr, end_yr, and align_yr to be set in user_nl_datm_streams when it's set by the xml variables DATM_YR_*"
Currently you can set start_yr,end_yr and align_yr to be set both by user_nl_datm_streams and by setting the DATM_YR_* xml variables with xmlchange. Since, this can lead to a contradiction it would be good to disallow it being set by user_nl_datm_streams and the user told to modify it with xmlchange.

We do this same sort of thing in other components as well such as CTSM.

[2021-12-03 22:58] billsacks commented on #104
I thought I'd try to wrap this one up this afternoon, since I thought I knew what was needed. It turns out it's a little trickier than I first realized because the same buildlib script is used for both (1) building the CDEPS shared library, and (2) building the individual data models. The problem is that the argument order differs in those two cases, so fixing one breaks the other.

It looks like

[2021-12-08 22:57] #104 closed

[2021-12-16 20:43] ekluzek commented on #135
We think the way this is done is to do the following kind of changes:

[code]

[2021-12-30 17:47] uturuncoglu opened #139 "multiple stream definition is not working with ESMF config format"
The recent implementation of ESMF config format to provide stream definitions rather than using XML format has bug that prevents user to add multiple stream to the namelist file. This needs to be fixed to use data atmosphere to support UFS external land component development.

[2022-01-04 18:23] mvertens commented on #128
@ekluzek - multi-line input works as long as you have a \ at the end of the line.
As an example: in user_nl_datm_streams the following entry
[code]
will result in the following new xml file entry
[code]

[2022-01-04 18:23] #128 closed

[2022-01-06 00:00] mvertens commented on #139
This was fixed by PR #140

[2022-01-06 00:00] #139 closed

[2022-01-06 00:03] mvertens commented on #134
Fixed by PR #138

[2022-01-06 00:03] #134 closed

[2022-01-06 00:09] mvertens commented on #133
I this requirement is really only valid for forcing to the ocean. @erik, @billsacks, @jedwards4b - there are cases (particularly if you have input streams at more than one resolution) where this would not be the case.
@mnlevy1981 - could you clarify why the mct aborts with the error if you try to run JRA at T62? Its not clear to me why this would not just work.

[2022-01-06 00:11] mvertens commented on #120
Fixed by #123

[2022-01-06 02:18] ekluzek commented on #120
@mvertens did you mean to close this? #123 hasn't been merged in yet...

[2022-01-06 05:09] billsacks commented on #133
Here are the notes from the cseg meeting where we discussed this:

[2022-01-06 18:57] mvertens commented on #120
@erik - good point. I thought we had fixed this.

[2022-01-06 18:59] mvertens commented on #120
@swensosc @jedwards4b @ekluzek - I think this PR should be merged at this point. I am happy to do that. This will change answers - but we can document that. does everyone agree?

[2022-01-06 20:20] jedwards4b commented on #133
@mnlevy1981 Can you meet with Mariana and I to discuss.

[2022-01-06 22:18] mnlevy1981 commented on #133
@mvertens

I just got off a call with @klindsay28 where we talked about this, and I think we have a better understanding of what is actually going wrong (but there is still some hand-waving in the following explanation). The `T62_g37` grid uses the `rx1` grid for runoff, but the JRA forcing creates a runoff stream file that uses a domain file with the `JRA0.25v2` grid; we think this error is actua

[2022-01-06 22:50] mvertens commented on #133
@mlevy - thanks so much for looking into this. I'm not sure how much work its reasonable to do on the mct front given that we are moving away from this. The key point I think is that CMEPS/CDEPS does not run into this problem and I believe gives reasonable results regardless of what resolution you run your atm at. There is no reason why you could not run DATM on the MOM6 grid or keep DATM on the J

[2022-01-19 20:15] ekluzek opened #143 "nldas2 cases fail in DEBUG mode"
nldas2 resolution cases fail when run in DEBUG mode (they seem to run fine when DEBUG=FALSE though). These same cases seem to run fine using the MCT coupler, but fail with NUOPC. Here's an example list of tests that fail...

ERS_D.nldas2_rnldas2_mnldas2.I2000Ctsm50NwpSpNldas.cheyenne_gnu.clm-default
ERS_D.nldas2_rnldas2_mnldas2.I2000Ctsm50NwpSpNldas.cheyenne_intel.clm-default
SMS_D_Ld1.nldas2_rnld

[2022-01-19 21:24] ekluzek commented on #143
I tried running for just a part of the period 1980-2018 to see if the problem only appears for only some years of the sequence. I wasn't able to change the start or end year to get it to work. But, didn't try every year either. Just running for 2005 though for example didn't work either.

[2022-01-28 20:47] billsacks commented on #17
@ekluzek do you know anything about this and whether it might have been done?

[2022-01-28 20:47] billsacks commented on #94
Won't fix: we've moved to just doing prealpha tests for testing cdeps.

[2022-01-28 20:47] #94 closed

[2022-01-28 20:52] ekluzek commented on #17
I'm pretty sure it hasn't been done. But both modes are important and adding system tests for them in the cdeps test list would be really good to do.

[2022-01-31 16:48] ekluzek commented on #17
In CTSM we have a test-mod directory that is labeled for Anomaly Forcing, but is actually doing bias correction. The user_nl_datm changes are:

bias_correct = 'BC.CRUNCEP.GPCP.Precip'

We also need one that exercises the anomaly_forcing namelist item

[2022-01-31 16:49] ekluzek commented on #17
Note a CTSM related issue is here:

https://github.com/ESCOMP/CTSM/issues/1396

[2022-02-15 20:56] ekluzek opened #144 "Solar zenith angle changes cause some exact restart tests to fail"
This is really odd. But, I find if I put cdeps0.12.36 into ctsm5.1.dev074 the following exact restart test fails.

ERS_Ly5_P144x1.f10_f10_mg37.IHistClm51BgcCrop.cheyenne_intel.clm-cropMonthOutput

Some discussion on this is in CTSM PR 1535 with discussion on it here:

https://github.com/ESCOMP/CTSM/pull/1535#issuecomment-1040721151

It looks like there are two other tests that will fail as well, b

[2022-02-15 23:39] ekluzek commented on #144
I verified I see this problem in cesm2_3_alpha08a

ERP_Ly3_P72x2.f10_f10_mg37.IHistClm50BgcCrop.cheyenne_intel.clm-cropMonthOutput COMPARE_base_rest
ERS_Ly3_P72x2.f10_f10_mg37.IHistClm50BgcCropG.cheyenne_intel.clm-cropMonthOutput COMPARE_base_rest
ERS_Ly5_P144x1.f10_f10_mg37.IHistClm51BgcCrop.cheyenne_intel.clm-cropMonthOutput COMPARE_base_rest
ERS_Ly5_P72x1.f10_f10_mg37.IHistClm45BgcCrop.cheyenne

[2022-03-15 04:00] billsacks opened #146 "NONE should probably be None in _get_neon_data_availability"
This caught my eye:

https://github.com/ESCOMP/CDEPS/blob/db41b40266c66059d34bce371ce0eb6757b4100e/datm/cime_config/buildnml#L85

I assume NONE is meant to be None there? I haven't looked at this carefully enough to know if this impacts anything.

@jedwards4b @negin513

[2022-03-15 13:28] jedwards4b commented on #146
Thanks for pointing that out.    Fixed.

[2022-03-15 13:35] #146 closed

[2022-03-15 17:51] swensosc commented on #144
this is the first time I have heard of this issue.  It only occurs on
yearly restarts?

On Tue, Mar 15, 2022 at 11:20 AM Bill Sacks ***@***.***>
wrote:

[2022-03-15 17:56] mvertens commented on #144
@swensoc - if you could look at this it would be really helpful. I'm happy to answer questions regarding the CDEPS time interpolation if that would be useful. Please let me know.

[2022-03-15 17:59] billsacks commented on #144
I can't guarantee that 100%, but we've only seen the issue appear on yearly restarts. In particular, it does **not** appear in test `ERP_P36x2_Lm13.f10_f10_mg37.IHistClm51Bgc.cheyenne_intel.clm-monthly`, which restarts after 7 months before running another 6 months.

[2022-03-15 18:44] billsacks commented on #144
(I don't think we have any global tests that run more than a year, then restart mid-year before running for another year+. It could be helpful to confirm that `ERP_P36x2_Lm36.f10_f10_mg37.IHistClm51Bgc.cheyenne_intel.clm-monthly`, for example, would pass: that runs 19 months, then restarts and runs another 17 months.)

[2022-03-15 22:48] billsacks commented on #144
It looks like the issue is the change from `>` to `>=` in dshr_strdata_mod. See https://github.com/ESCOMP/CDEPS/pull/148#discussion_r827471489 .

[2022-03-16 19:52] mvertens commented on #36
@ekluzek - I have added the stream capability in datm and cam so that it can be removed from ctsm and pop for ingesting ndep data. However, I am confused regarding the following setting in namelist_defaults_ctsm.xml.
The new implementation has the following new scenarios for ndep forcing in datm:

  <entry id="DATM_PRESNDEP">
    <type>char</type>
    <valid_values>none,clim_1850,clim_2000,clim_20

[2022-03-16 20:00] ekluzek commented on #36
@mvertens the 1000 to 1004 case was a specific test case that was setup to test some of the transient changes. I think we can drop it, at least here. But, I need to do some checking on that. So only worry about this, if I come back and say there is some reason to keep that test case.

[2022-03-16 20:08] mvertens commented on #36
@ekluzek - thanks for the clarification. I think even if you need it - the default would be 2000 I think so that should be fine.

[2022-03-16 20:41] billsacks commented on #120
Reopening because we temporarily backed this out (#148) until #144 is resolved.

[2022-03-16 21:22] billsacks commented on #144
@jedwards4b asked if this can be reproduced in a shorter test (to help with debugging). I haven't tried it, but I think you could construct a test that starts shortly before the year boundary and then restarts on the year boundary. So instead of `ERP_Ly3_P72x2.f10_f10_mg37.IHistClm50BgcCrop.cheyenne_intel.clm-cropMonthOutput`, something like `ERP_Ld3_P72x2.f10_f10_mg37.IHistClm50BgcCrop.cheyenne_i

[2022-03-16 21:32] ekluzek commented on #144
@billsacks I did try doing shorter tests including what you suggested. I wasn't able to reproduce the problem except in longer tests.

[2022-03-16 21:34] mvertens commented on #144
@ekluzek @billsacks - I wonder if it depends on what year you start in.

[2022-03-16 22:02] swensosc commented on #144
does anyone know why it would affect only transient simulations?  Does the
datm know anything about whether clm is using transient streams or not?

On Wed, Mar 16, 2022 at 3:34 PM mvertens ***@***.***> wrote:

[2022-03-16 22:19] mvertens commented on #144
@swensosc - with a transient simulation we are opening a new dataset at the year boundary.

[2022-03-28 19:17] mvertens commented on #144
@swensosc @billsacks @ekluzek - I have a fix for CDEPS that now lets the following test pass
ERS_Ly3_P72x2.f10_f10_mg37.IHistClm50Sp.cheyenne_intel (I verified that the same problem occurred as with the much more expensive test ERP_Ly3_P72x2.f10_f10_mg37.IHistClm50BgcCrop.cheyenne_intel.clm-cropMonthOutput.
To say the least - this was a very tricky issue to track down. I'm happy to talk further ab

[2022-03-28 19:32] swensosc commented on #144
I would definitely like to know about your solution.  I presume this is a
fix to the newer way of advancing the solar stream, right?

On Mon, Mar 28, 2022 at 1:17 PM mvertens ***@***.***> wrote:

[2022-03-28 19:49] ekluzek commented on #144
@swensosc it looks like the PR for this is  #149.  I haven't gone through it carefully, but theres quite a bit there. It would be good if you could do some of the testing you've done on this in the past to verify that it works as you expect it to. It sounds like we should also be able to verify that it gives the identical answers as your previous version, other than passing longer restart tests.

[2022-03-28 22:56] ekluzek commented on #144
We met and @mvertens explained the issue. It was an off by a single time-step for the orbital information. So this only applies to a case where orbital information is updated (so HIST cases not 1850 or 2000). And it wasn't the restart, but the initial run that was off.

@swensosc is going to do his testing on the branch to make sure everything looks good from by those standards. And I will rerun a

[2022-03-29 01:56] ekluzek commented on #144
The four tests now PASS!

ERP_Ly3_P72x2.f10_f10_mg37.IHistClm50BgcCrop.cheyenne_intel.clm-cropMonthOutput
ERS_Ly3_P72x2.f10_f10_mg37.IHistClm50BgcCropG.cheyenne_intel.clm-cropMonthOutput
ERS_Ly5_P144x1.f10_f10_mg37.IHistClm51BgcCrop.cheyenne_intel.clm-cropMonthOutput
ERS_Ly5_P72x1.f10_f10_mg37.IHistClm45BgcCrop.cheyenne_intel.clm-cropMonthOutput

[2022-03-30 16:11] #144 closed

[2022-04-01 21:21] billsacks commented on #25
@mvertens - see above for a high-level description.

In terms of the details of what's needed, we should involve others (@whlipscomb , @gunterl @Katetc ). My sense, though, is that the highest priority need is replacing CISM%NOEVOLVE mode. In that case, the data could be a single time slice with fields matching CISM's initial conditions. It seems like we could set this up in one of two ways (or ot

[2022-04-01 22:21] gunterl commented on #25
@Bill Sacks ***@***.***> would it help to include an ice mask directly
into the CISM input file to ease the work required to be done by the
mediator? If so I can easily add it.
I'll admit that I am a bit rusty with understanding the difference between
data glc and NOEVOLVE.
Shall we setup a meeting to talk about all of this?

On Fri, Apr 1, 2022 at 3:21 PM Bill Sacks ***@***.***> wrote:

--
Gunter

[2022-04-01 22:46] billsacks commented on #25
Maybe. I think this needs some discussion. My recollection is that CISM determines the ice mask based on some rules about minimum thickness - though maybe the minimum thickness is simply 0 m for this purpose (I can't remember off-hand). I'm not sure if it will make a big difference one way or another if this field is precomputed and kept on the initial file or computed by data glc, but let's discu

[2022-04-04 01:48] whlipscomb commented on #25
@billsacks, I'm happy to meet and talk.  But if this isn't urgent, my preference would be to wait until after we make some progress on the time definition.  I'm starting to feel overwhelmed with all the issues on the table.

[2022-04-04 02:13] mvertens commented on #25
@whlipscomb - this is definitely not urgent. We just wanted to put a place holder for this on the task lists for CESM3 and I offered to take it on. I agree that the time definition is a much high priority.

[2022-04-06 02:21] mvertens opened #150 "single column runs fail in aquaplanet model"
The problem is that if a point is over what would have been land the mask is not set to 1.

[2022-04-09 20:47] ekluzek commented on #127
An example of why this would be helpful is here:

https://github.com/ESCOMP/CTSM/issues/1701

In the above example files are only yearly. But, cases where files are monthly (or even more frequent) are even more unwieldy.

[2022-04-14 20:08] ekluzek commented on #97
We talked about this in our CTSM software meeting. This is a roadblock in moving away from MCT.

[2022-04-14 20:13] mvertens commented on #97
@ekluzek - thanks for pointing out the criticality of this. I'll work with @jedwards4b to come up with a flexible solution.

[2022-04-14 20:21] mvertens commented on #97
@jedwards4b - I think that adding a namelist variable in cdeps for datm that specifies that restarts should not be read would be simple to do and would solve this problem. Lets talk if you have other ideas or concerns.

[2022-04-14 20:22] jedwards4b commented on #97
What should that variable be called?

[2022-04-14 20:36] jedwards4b commented on #97
@ekluzek ctsm_spinup_mode sound okay?

[2022-04-14 20:54] mvertens commented on #97
What I am suggesting is that a new datm variable - skip_restart_read - be add. The default value would be .false.
When you start step 2 - you could simply add to user_nl_datm skip_restart_read = .true. for the first run phase after 2. and then reset it back to .false.
Or we could have a DATM_SKIP_RESTART_READ xml variable that could be set - like the other ones and you could simply change it with

[2022-04-14 20:57] ekluzek commented on #97
I like @mvertens name better. It's not intrinsic to the CTSM spinup itself. The thing that I need from DATM is to skip reading restarts. That is something that's sometimes useful to do. It may be in other contexts as well.

I think we just need this in the namelist. This is obscure enough that I don't think it needs to be lifted to the XML level.

[2022-04-14 21:28] mvertens commented on #97
@ekluzek - so you would be happy to manually just change this namelist variable in user_nl_datm when you start step2 and then change it back again? This would have to be done manually - but if that's fine its very easy to do this.

[2022-04-14 22:04] mnlevy1981 opened #153 "Can not run with JRA repeated-year forcing"
This error occurs in `cesm2_3_beta08`:

[code]

If I use `--driver mct`, then the case is created successfully.

[2022-04-14 22:43] ekluzek commented on #97
Yes, I think that's fine. But, I'll let @olyson chime in.

This is an important thing to have in place, but it's still obscure enough that we don't need a super slick way of doing it. It's required for the first step, but turning it back to false is only needed to save some time on the continue run. So good to do, but not strictly required.

[2022-04-14 22:44] olyson commented on #97
If it's not too much more work, I would lean toward an xml variable.  It's just a bit more awkward to change the user_nl_datm during the run and maybe not as visible and clear as an xml change.  Just my opinion, thanks for doing this.

[2022-04-15 01:10] mvertens commented on #97
@olyson - making it an xml variable is very easy. I agree that it will be clearer with that.

[2022-04-18 18:35] #97 closed

[2022-04-18 21:59] jedwards4b opened #155 "In CDEPS add timestamp to rpointer file names."

[2022-04-22 17:33] mvertens opened #156 "vector fields (u,v) are not being specified or mapped correctly"
The vector mapping fields in the stream definition file were are not being set correctly. The names in the xml file for the vector fields must be equal to the name of the model fields. In addition it does not appear that any vector mapping is occurring because of the current logic.

[2022-04-26 21:49] ekluzek commented on #143
Note, that a MCT case for this PASSes. It also passes for cheyenne_gnu

SMS_D_Ld1_Vmct_PS.nldas2_rnldas2_mnldas2.I2000Ctsm50NwpSpNldasRs.cheyenne_intel.clm-default

[2022-04-27 18:23] billsacks commented on #143
The fact that it passes for gnu may be because we don't do as much error checking with gnu debug as we do with intel: see https://github.com/ESMCI/ccs_config_cesm/issues/4

[2022-04-28 18:32] ekluzek commented on #143
@mvertens and @jedwards4b we talked about this in the CTSM software meeting and we feel this is an important case to get working for the adoption of NUOPC by CTSM. Hopefully, it's something that's not hard to fix since it does work in non-DEBUG mode.

[2022-04-28 20:24] jedwards4b commented on #143
The issue here is that the equation:  vp = (Sa_shum(n)*pbot) / (0.622_r8 + 0.378_r8 * Sa_shum(n))
is getting an FPE.   I the case of an FPE I see pbot=0.0 and Sa_shum(n) < 0.

[2022-04-28 20:32] ekluzek commented on #143
Hmmm, thanks for tracking that down. Obviously those are bad values for pbot and shum, which might be a problem with the data itself. We'll look into that.

The thing I find odd is that apparently this same equation works for the MCT case, but is failing here. It seems like the MCT case should've failed as well. I'm actually glad it's failing, as it should with bad data like that. The only thing I

[2022-04-28 20:34] jedwards4b commented on #143
@ekluzek it looks like the conditions used to determine if the data is valid is a little different in nuopc than in mct.   I have a meeting scheduled to review this with @mvertens later this afternoon.

[2022-05-03 20:05] mvertens commented on #143
Resolved in latest CDEPS update.

[2022-05-03 20:05] #143 closed

[2022-05-16 00:10] ekluzek opened #161 "25 thread PE layout failing on reading the mesh file"
I think this might be an issue with older ESMF versions, because it works on cheyenne, but fails on izumi. It does work with MCT, but fails with NUOPC.

This is with ctsm5.1.dev095 which uses: cdeps0.12.41, cime6.0.26, cmeps0.13.63. I did also try updating to cdeps0.12.48, and it still fails.

These tests fail:

ERP_D_P1x25.5x5_amazon.I2000Clm51SpRs.izumi_intel.clm-default
ERP_P1x25.5x5_amazon.I20

[2022-05-18 22:24] ekluzek opened #162 "Add a stream for ZBOT for GSWP3 forcing data"
Rather than having ZBOT hardcoded in datm we want to have it read from a file. The file will only have one latitude/longitude and time-sample. Hence, most of this will just be adding this to the streams mechanism for GSWP3.

Note, that the current code doesn't read in ZBOT, like it should, it only overrides it if it isn't read (which it always isn't) and then datm_datamode_clmncep_mod.F90 has this

[2022-05-19 16:20] wwieder commented on #162
Just a note that this bug influences NEON or other tower simulations, where zbot is not being read in off input data.  Just pinging other's who may run single point tower sites with nuopc. (it's not an issue with mct runs)  @negin513 @danicalombardozzi @adrifoster @swensosc @olyson

[2022-05-19 17:20] swensosc commented on #162
For the global files, it can also be a scalar.  I discourage adding a
gridded field for what will be a time-invariant, globally uniform value due
to  limited storage space

On Thu, May 19, 2022 at 10:21 AM will wieder ***@***.***>
wrote:

[2022-05-19 22:19] ekluzek opened #163 "Paths should need to be updated under cime"
There are still some paths in CDEPS that I think have to be updated. Although the model is still building and running for me, so I don't understand why it currently works.

There are paths that are set for cime/scripts/Tools, which no longer exists in the latest cime.

[code]

So I think these should be updated to be CIMEROOT/CIME/Tools

[2022-05-20 21:24] jedwards4b opened #164 "Should check for match between mesh and stream files"
Tests were failing in NEON because of a mismatch between mesh and data files:
See
https://github.com/ESCOMP/CTSM/issues/1743

We should add a check to be sure that the mesh and data stream file dimensions match.

[2022-05-20 22:06] #163 closed

[2022-06-03 18:42] ekluzek opened #168 "Read ZBOT for datm CLMNCEP case"
This is just the read part of #162, so I can separate it from the Z streams file.

[2022-06-15 20:48] #168 closed

[2022-06-27 16:27] uturuncoglu opened #171 "CDEPS standalone build doe not install all module files"
In CDEPS in standalone mode, the module files that are installed to include directory are not complete. `*_comp_nuopc.mod` files are missing which is required to use in external application.

[2022-06-27 16:29] uturuncoglu commented on #171
@jedwards4b i will fix this issue but do you think we also need to copy the individual data mode files. In my case, they are not required and just having `*_comp_nuopc.mod is fine (used in the use statement in the driver code) but maybe the right way is to install them too. Not sure. Let me know what you think.

[2022-06-30 20:26] uturuncoglu opened #172 "CDEPS fails when all fields are not connected"
I am testing CDEPS with generic driver and the configuration only involves DATM+LND components. The LND component does not require all the fields that are provided by the DATM and this causes issue in CDEPS side and `dshr_state_getfldptr` calls fails.   https://github.com/ESCOMP/CDEPS/blob/d62218d4daf53004b0a9696ec73df2e7663ce191/datm/datm_datamode_clmncep_mod.F90#L269
We introduced a way in those

[2022-08-03 20:32] jedwards4b opened #175 "need to confirm stream meshfile and stream datafiles are compatible"
Need a test in fortran to assure that the stream meshfile is correct for the stream datafiles.

[2022-08-07 03:38] mvertens opened #176 "CORE2_IAF is not using correct time interpolation for SWDN"
CORE2_IAF is not using coszen time interpolation for SWDN, rather it us using linear.
So any scientific results obtained with nuopc and CORE2_IAF for both CIAF and GIAF compsets will contain wrongly interpolated shortwave radiation from datm.
@mnlevy1981 @alperaltuntas @gustavo-marques - I just found this and hope this is not impacting your recent simulations. Please let me know.

[2022-08-07 03:40] mvertens commented on #176
A work around is to add the following line at the end of user_nl_datm_streams in your $CASEROOT
CORE2_IAF.GISS.SWDN:tintalgo=coszen

I will be issuing a PR in the next day with a fix for this.

[2022-08-07 16:31] #176 closed

[2022-08-09 19:56] cacraigucar opened #179 "SSTICE_YEAR_END default for HIST"
CAM has been setting SSTICE_YEAR_END to 2016 for FHIST runs and that is being removed.  @gold2718 suggested that the current default in CDEPS which is 2012 for HIST runs might be changed to 2016.  This issue is to open the discussion on this setting.

[2022-08-19 15:41] islasimpson opened #181 "Can't use more than 30 files for sea ice input data stream"
Hello,  I'm trying to run a simulation using cesm2_3_beta08 where I'm prescribing sst and sea ice using user_nl_docn_streams and user_nl_cice.  When I have more than 30 files in my stream I get the attached error on build.
![Screenshot at 2022-08-19 09-35-46](https://user-images.githubusercontent.com/41842751/185655747-737fcfc0-b939-4b13-a37f-94519173c54a.png)

I am using a hack that Mariana gave

[2022-08-21 16:59] mvertens commented on #181
@islasimpson - this is not a cdeps issue - this is a cice/cime issue. I will look into this with @jedwards4b and try to resolve the issue.

[2022-08-21 19:01] islasimpson commented on #181
I see.  Sorry about my confusion.  Thanks for looking into it.

[2022-08-22 13:35] jedwards4b commented on #181
Moved to https://github.com/ESMCI/cime/issues/4294

[2022-08-22 13:35] #181 closed

[2022-08-24 19:13] peverwhee opened #182 "ERP_Ln9_Vnuopc.ne30_ne30_mg17.QPRCEMIP.cheyenne_intel.cam-outfrq9s test failing"
## Description
@fischer-ncar came across this prebeta test failure (https://github.com/ESCOMP/CAM/issues/639). The test runs successfully with MCT.

When the test is run as in the description (no debug), the error described in https://github.com/ESCOMP/CAM/issues/639 occurs within CLUBB.

When the test is run with debug (ERP_Ln9_Vnuopc.ne30_ne30_mg17.QPRCEMIP.cheyenne_intel.cam-outfrq9s), a differ

[2022-08-25 02:58] mvertens commented on #182
@peverwhee - I have a fix for this in the PR I just issued to CDEPS. I have verified that with this simple fix - this test now works.

[2022-08-25 20:24] jedwards4b opened #184 "logunit error with gnu compiler"
FAIL ERP_Ln9_Vnuopc.f19_f19_mg17.F2000climo.cheyenne_gnu.cam-outfrq9s RUN time=251
56:At line 1496 of file /glade/u/home/fischer/code/cesm2_3_alpha10a/components/cdeps/streams/dshr_stream_mod.F90
56:Fortran runtime error: Unit number is negative and unit was not already opened with OPEN(NEWUNIT=...)

[2022-08-26 16:24] ekluzek opened #186 "Remove specific variable names for anomaly forcing and use a generic name"
There are specific names for each anomaly forcing variable, this should be redone to only have one generic name for all. The most common case is to use all variables and hence only one file is needed which is also easier to manage.

This relates to this CTSM issue.

http:://gitHub.com/ESCOMP/CTSM/issues/1730

[2022-08-26 16:27] mvertens commented on #186
@ekluzek - are you going to take this on?

[2022-08-26 16:28] ekluzek commented on #186
Yes this is really simple
. And I'll do it with other work with anomaly forcing.

[2022-08-26 16:44] mvertens commented on #186
Thanks. I've assigned you.

[2022-08-26 17:16] ekluzek commented on #186
@adrifoster will take this on. So I'll work with her if needed, and can also be a reviewer.

[2022-08-26 20:28] adrifoster commented on #186
Should I add something to the [config_component.xml ](https://github.com/ESCOMP/CDEPS/blob/master/datm/cime_config/config_component.xml#L82)file? I noticed there isn't anything there right now for `Anomaly.Forcing`s.

@ekluzek I know you said you had a plan for the different SSPs, so perhaps your plan was to add them there? It seems like we could do different stream entries for each SSP, and have

[2022-08-26 22:49] adrifoster opened #187 "Add back presaero.SSP5-8.5 stream definition"
It seems that the stream definition for presaero.SSP5-8.5 in the [*stream_definition_datm.xml*](https://github.com/ESCOMP/CDEPS/blob/master/datm/cime_config/stream_definition_datm.xml) was accidentally removed during a previous update.

As it stands, when you try to use an SSP5-8.5 compset, an error is thrown that "No stream_entry presaero.SSP5-8.5 found".

This just needs to get added back in. I

[2022-08-29 20:43] #184 closed

[2022-09-02 15:56] #187 closed

[2022-09-04 13:33] islasimpson opened #190 "Prescribing daily SSTs at the end of Feb/beginning of March in a leap year"
Hello,  Not sure if this is a CDEPS issue or my issue.  I'm running with prescribed daily SSTs taken from the hires FOSI simulation and my simulation is crashing at 28th Feb/1st March 1964, which is my first leap year.  I have made sure that my prescribed SST file says it is a noleap calendar and it has time values  1964-02-28 12:00:00 ... 1964-03-01 12:00:00.  Input file is here... /glade/scratch

[2022-09-05 02:54] mvertens commented on #190
@islasimpson - I don't think its looking for 29th February - but the EMSF time calls thinks that between Feb.28 and Mar. 01 there is a 2 day gap - even though you have specifically specified that this is a no leap run. There is a hack that you could do to get past this point -but that will give slight wrong answers for just this one time interpolation - its to add the following line to your user_n

[2022-09-10 21:51] islasimpson commented on #190
Thanks for your help.  This did indeed successfully get be past the 29th February.  Sorry for the slow response - am on vacation.

[2022-09-21 18:48] jedwards4b commented on #190
I think that [this issue](https://github.com/ESCOMP/CTSM/issues/1858) may be related.  It is using cdeps0.12.63

[2022-10-07 19:48] billsacks commented on #17
@ekluzek we're assigning you to this since @mvertens probably won't be able to do it.

[2022-10-07 19:49] billsacks commented on #36
@mvertens has done this.

[2022-10-07 19:49] #36 closed

[2022-10-07 19:52] ekluzek commented on #36
I just want to comment that we'll want to pull this into CTSM and MOM and probably remove our current mechanisms for ndep in those models. As part of that process we will want to compare answers and make sure it's identical or at least similar. So we should add a task for this in CTSM to start taking advantage of this.